* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f1ecec;
    padding: 20px;
    line-height: 1.5;
}

/* Header */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #949090;
    padding: 10px;
    border-radius: 5px;
}

.nav .link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

.nav .link:hover {
    background-color: #6f86cc;
}

.nav > .icon img {
    width: 30px;
    height: 30px;
}

.container-form {
    background-color: #949090;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

#postBody {
    border: 1px solid #f1ecec;
}

.container-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

input + button {
    font-size: 16px;
}

textarea ~ button {
    padding: 10px 20px;
    background-color: #183565;
    color: #f1ecec;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #28518d;
}

/* Flexbox for responsive layout */
@media (max-width: 1000px) {
    body {
        padding: 10px;
    }

    .container-form {
        width: 100%;
        max-width: 500px;
    }
}
